body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.adminPanel {
  background-color: black;
  padding: 10px;
}

.select {

  margin-top: 5px;
  margin-bottom: 15px;
}

.bookView {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 130px;
}

.bookView b {

  font-size: 12px;
}

.bookView i {

  font-size: 14px;
}

.bookView p {
  font-size: 11px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;

  margin: 5px;
  height: 100px;
  width: 130px;
}
.orderView {
  border-bottom: 2px solid black;
  margin: 5px;
  padding: 5px;
}
#email_bs, #password_bs {

  width: 20%;
  margin: 10px;
}

form button {

  margin: 10px;
}


.goToAdmin {
  float: right;
}
.goToAdmin:hover {
color:black
}

.header {

  border-radius: 5px;

}
.Footer {

  background-color: black;
  color: white;
  font-size: 20px;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 15px 15px;
  border-radius: 5px;
}
.Footer a {
  text-decoration: none;
  color: white;
}

.Footer a:hover {

  color:turquoise;
}